@import "./../../general";
@import "./../../index.scss";

.find-out-more-container {
  @include horizontalFlex($width: auto, $gap-size: 0vh);
  background-color: var(--dark-back-grey);
  padding: 3vh;
  position: relative;
}

.find-out-more-vector-image {
  position: absolute;
  width: 60%;
  right: 11%;
  height: 100%;
}


.right-cta-image-index
{
  z-index: 3;
}
.find-out-more-image {
  z-index: 3;
  img {
    width: 80%;
    height: 80%;
  }
}

.find-out-more-content-box {
  @include verticalFlex($width: 46%, $align: flex-start, $justify: normal, $gap-size: 2vh);
  z-index: 2;
}

.find-out-more-heading {
  @include verticalFlex($align: flex-start, $justify: normal, $gap-size: 0vh);
  font-weight: 800;
  font-size: 3.5vh;
  color: var(--black-color);
}

.find-out-more-content {
  @include verticalFlex($align: flex-start, $justify: normal, $width: auto, $gap-size: 0vh);
  color: var(--black-color);
  line-height: 2vh;
  font-size: 1.5vh;
}

.btn-find-more {
  color: var(--white-color);
  clip-path: polygon(
    0 0,
    0% 20%,
    0 49%,
    0 100%,
    20% 100%,
    50% 100%,
    100% 99%,
    100% 64%,
    100% 50%,
    100% 34%,
    84% 0,
    48% 0
  );
  border: none;
  outline: none;
  padding: 1vh 1.5vh;
  background-color: var(--red-color);
}
