@import "./../../general";
@import "./../../index.scss";

.top-container {
  @include verticalFlex(
    $gap-size: 0vh,
    $width: auto,
    $align: normal,
    $justify: normal
  );
  background-color: var(--white-color);
  position: sticky;
  z-index: 10;
  top: 0px;
}

.login-cart {
  @include horizontalFlex($gap-size: 2vh, $justify: normal, $width: auto);
}

.phone-number {
  @include horizontalFlex($justify: normal, $width: auto);
}

.navbar-shop-categories {
  @include horizontalFlex(
    $gap-size: 2vh,
    $width: auto,
    $align: normal,
    $justify: normal
  );
}
.navbar-container {
  @include horizontalFlex($gap-size: 0vh, $width: auto);
  padding: 1vh 10vh 1vh 10vh;
  background-color: var(--red-color);
  color: var(--white-color);
  margin-top: 1vh;
  margin-top: 0vh;
  font-size: 1.5vh;
}

.phone-number {
  color: var(--white-color);
}

.about-contact {
  @include horizontalFlex(
    $gap-size: 2vh,
    $align: normal,
    $justify: normal,
    $width: auto
  );
}

.shop-now {
  @include horizontalFlex($align: normal, $justify: normal, $width: auto);
}

.navbar-search-container {
  @include horizontalFlex($width: auto, $gap-size: 0vh);

  margin-top: 1vh;
  padding: 2vh;
}

.search-input {
  padding: 1vh;
  width: 100%;
  position: relative;
}

.search-container {
  @include horizontalFlex($gap-size: 0vh);
  padding-left: 8vh;
  padding-right: 8vh;
}

.navbar-new {
  padding: 2vh 9vh 2vh 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  border-bottom: 1px solid #e0e0e0;
}

.search-container-new {
  position: relative;
  width: 60%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--red-color);
}

.navbar-logo-new {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo-new span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--red-color);
}

.navbar-categories-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 7vh;
}

.categories-btn-new {
  background: none;
  border: none;
  font-size: 1.5vh;
  font-weight: 600;
  color: var(--black-color);
  cursor: pointer;
}

.navbar-search-new {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-input-new {
  width: 100%;
  padding: 8px 40px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.category-btn {
  border: none;
  font-size: 2vh;
  background: none;
  color: var(--red-color);
}

.category-arrow-down {
  border: none;
  font-size: 2vh;
  background: none;
  color: var(--red-color);
}

.navbar-icons-new {
  display: flex;
  align-items: center;
}

.icon-btn-new {
  display: flex;
  gap: 1vh;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-left: 20px;
  color: var(--red-color);
  cursor: pointer;
}

.login-name {
  color: var(--black-color);
  font-weight: 600;
  font-size: 1.5vh;
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
  }
}
