@import "./../../general";

@import "./../../index.scss";

.footer {
  background-color: var(--red-color);
  color: var(--white-color);
  clip-path: polygon(
    0 0,
    0% 20%,
    0 49%,
    0 100%,
    20% 100%,
    50% 100%,
    100% 100%,
    100% 64%,
    100% 50%,
    100% 6%,
    98% 0,
    48% 0
  );
  padding: 40px;
  // font-family: Arial, sans-serif;
}

.footer-container {
  @include horizontalFlex($width:auto,$align:normal,$gap-size:0vh);
  // display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h3,
.footer-column h4,
.footer-column h5 {
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.location-list-content {
  @include verticalFlex($align:flex-start,$justify:normal,$width:auto);
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // gap: 1vh;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a {
  color: var(--white-color);
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-locations {
  margin: 40px 0;
}

.locations-list {
  @include horizontalFlex($align:normal,$width:auto,$gap-size:0vh);
  // display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
}

.locations-list > div {
  flex: 1;
  margin: 0 20px;
}

.footer-bottom {
  @include horizontalFlex($gap-size:0vh,$width:auto);
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding-top: 20px;
}

.footer-links a {
  margin-left: 20px;
  color: var(--white-color);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
