@import "./../../general";
@import "./../../index.scss";

.home-about-text,
.tool-power-text {
  color: var(--yellow-color);
  font-size: 1.5vh;
}

.tool-power-text {
  opacity: 0.5;
}

.home-about-heading,
.right-cta-heading-name,
.left-cta-heading-name {
  font-weight: 800;
  color: var(--black-color);
  font-size: 4vh;
}

.home-about-heading {
  font-size: 3vh;
  color: var(--white-color);
}

.right-cta-content-data,
.left-cta-content-data {
  line-height: 3vh;
}

.main-container {
  overflow: hidden;
}

.about-us-container {
  @include horizontalFlex($gap-size: 0vh, $width: auto);
  background-color: var(--red-color);
  padding-left: 3vh;
  position: relative;
}

.about-us-content {
  @include verticalFlex($align: flex-start, $justify: normal, $width: auto);
  padding-left: 7vh;
  color: var(--white-color);
}

.about-us-image {
  width: 47%;
  margin-bottom: -14vh;
}

.vector-image-about {
  position: absolute;
  width: 100%;
  top: 0;
  left: 130px;
  height: 100%;
}

.home-tool-content {
  @include horizontalFlex(
    $gap-size: 8vh,
    $width: auto,
    $align: normal,
    $justify: normal
  );
}

.home-about-inside-content {
  @include verticalFlex(
    $align: flex-start,
    $justify: normal,
    $gap-size: 0vh,
    $width: auto
  );
  font-size: 1.3vh;
  line-height: 2vh;

  span {
    display: block;
  }
}

.left-right-Cta-section {
  @include verticalFlex($width: auto, $gap-size: 0vh);
  padding: 5vh;
  margin-top: 12vh;
  position: relative;
}

.main-bottom-vector-image {
  width: 15%;
  position: absolute;
  left: 0;
  height: 97%;
  top: -24%;
  z-index: -1;
}

.right-ctc-container,
.left-ctc-container {
  @include horizontalFlex($gap-size: 0vh, $width: auto);
}

.left-ctc-container {
  padding-left: 9vh;
  flex-direction: row-reverse;
  padding-top: 8vh;
  justify-content: space-between;
  align-items: center;
}

.cta-content-right,
.cta-content {
  @include verticalFlex($width: 50%, $align: flex-start, $justify: normal);
}

.cta-content-right {
  margin-right: -11vh;
}

.right-cta-image {
  width: 43%;
  margin-right: 10vh;
}

.right-cta-content,
.left-cta-content {
  align-self: flex-start;
  @include verticalFlex(
    $align: normal,
    $justify: normal,
    $width: auto,
    $gap-size: 0vh
  );
}

.right-cta-content-data,
.left-cta-content-data {
  @include verticalFlex(
    $align: flex-start,
    $justify: normal,
    $width: auto,
    $gap-size: 0vh
  );
}
