$borderRadiusSize: 5px;
$buttonBorderRadius: 4px;

//lib
@mixin lib-input-group($width: 100%, $gap-size: 0.5vh) {
  @include verticalFlex(
    $align: flex-start,
    $gap-size: $gap-size,
    $width: $width
  );
}

@mixin lib-input-label($labelColor: var(--grey-color)) {
  @include verticalFlex($align: flex-start);
  color: $labelColor;
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin lib-input-input(
  $inputBgColor: var(--white-color),
  $inputTextColor: inherit,
  $borderColor: var(--light-grey, #03080f),
  $width: 100%
) {
  @include ws-new-normal-font($fontColor: var(--text-color));
  @include horizontalFlex();
  padding: 7px;
  // padding: 1vh;
  border-radius: $borderRadiusSize;
  border: none;
  outline: none;
  background: $inputBgColor;
  color: $inputTextColor;
  border: 0.5px solid $borderColor;
  width: $width;
  @include placeholder {
    font-style: italic;
    color: #707070;
    font-weight: 100;
  }
}

@mixin lib-btn(
  $btnBgColor: var(--light-blue),
  $btnTextColor: var(--white-color),
  $width: auto,
  $padding: 0.8vh 1.5vh,
  $flexGap: 1vh
) {
  @include normal-font($fontColor: var(--white-color));
  @include horizontalFlex($gapSize: $flexGap);
  text-align: center;
  justify-content: center;
  padding: $padding;
  border-radius: $borderRadiusSize;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  min-width: 5vw;
  background-color: $btnBgColor;
  color: $btnTextColor;
  width: $width;

  &:hover {
    opacity: 0.8;
  }
}

@mixin verticalFlex(
  $gap-size: 1vh,
  $justify: space-between,
  $align: center,
  $width: 100%
) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  gap: $gap-size;
  width: $width;
}

@mixin horizontalFlex(
  $gap-size: 1vh,
  $justify: space-between,
  $align: center,
  $width: 100%
) {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
  gap: $gap-size;
  width: $width;
}

@mixin centerFlex($gap-size: 1vh) {
  @include ws-normal-font();
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: $gap-size;
}

// ============ BADGES =================================
@mixin ws-badge($color) {
  @include horizontalFlex($width: auto, $justify: center);
  color: $color;
  background: rgba($color, 0.3);
  padding: 0px 8px;
  border-radius: $buttonBorderRadius;
  overflow: hidden;
}

// ============ SCROLBAR (CSS TRICKS) ==================
@mixin scrollbars(
  $size: 5px,
  $thumb-color: var(--light-grey),
  $track-color: var(--white)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    position: absolute;
    width: $size;
    border-radius: 5px;
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    width: $size;
    border-radius: 5px;
    background: $thumb-color;
    // border: 1px solid black;
  }

  &::-webkit-scrollbar-track {
    width: $size;
    background: $track-color;
    border-radius: 5px;
    border: none;
  }
  //For firefox
  & {
    scrollbar-color: $thumb-color $track-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $thumb-color;
    scrollbar-track-color: $track-color;
  }
}
// //removing scrollbar
// ::-webkit-scrollbar {
//   display: none;
// }

/* ================ New Font styles mixins ======================= */
@mixin ws-new-mega-heading-font(
  $bold: normal,
  $fontColor: var(--dark-blue),
  $hoverColor: false
) {
  font-size: var(--xl-font);
  font-weight: $bold;
  color: $fontColor;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    font-size: var(--m-font);
  }

  // @media screen and (min-width: 501px) and (max-width: 1280px) {
  //   font-size: var(--xl-font);
  // }

  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin ws-new-heading-font(
  $bold: normal,
  $fontColor: var(--black-new-color),
  $hoverColor: false
) {
  font-size: var(--ml-font);
  font-weight: $bold;
  color: $fontColor;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    font-size: var(--sm-font);
  }

  @media screen and (min-width: 501px) and (max-width: 1280px) {
    font-size: var(--m-font);
  }

  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin ws-new-sub-heading-font(
  $bold: normal,
  $fontColor: var(--black-new-color),
  $hoverColor: false
) {
  font-size: var(--m-font);
  font-weight: $bold;
  color: $fontColor;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    font-size: var(--s-font);
  }

  @media screen and (min-width: 501px) and (max-width: 1280px) {
    font-size: var(--sm-font);
  }

  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin ws-new-normal-font(
  $bold: normal,
  $fontColor: var(--black-new-color),
  $hoverColor: false
) {
  font-size: var(--s-font);
  font-weight: $bold;
  color: $fontColor;

  @media screen and (min-width: 0px) and (max-width: 800px) {
    font-size: var(--s-font);
  }

  @media screen and (min-width: 801px) and (max-width: 1280px) {
    font-size: var(--s-font);
  }

  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin ws-new-small-font(
  $bold: normal,
  $fontColor: var(--black-new-color),
  $hoverColor: false
) {
  font-size: var(--s-font);
  font-weight: $bold;
  color: $fontColor;

  @media screen and (min-width: 0px) and (max-width: 500px) {
    font-size: var(--s-font);
  }

  @media screen and (min-width: 501px) and (max-width: 1280px) {
    font-size: var(--sm-font);
  }

  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

/* ================ Font styles mixins ======================= */

@mixin ws-heading-font(
  $bold: normal,
  $fontColor: var(--dark-blue),
  $hoverColor: false
) {
  font-size: var(--ml-font);
  font-weight: $bold;
  color: $fontColor;
  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin ws-sub-heading-font(
  $bold: normal,
  $fontColor: var(--dark-blue),
  $hoverColor: false
) {
  font-size: var(--m-font);
  font-weight: $bold;
  color: $fontColor;
  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin ws-normal-font(
  $bold: normal,
  $fontColor: var(--dark-blue),
  $hoverColor: false
) {
  font-size: var(--s-font);
  font-weight: $bold;
  color: $fontColor;
  @if $hoverColor {
    &:hover {
      color: $hoverColor;
    }
  }
}

/* ============ Media queries =============== */
@mixin media-sm {
  @media screen and (min-width: 301px) and (max-width: 700px) {
    @content;
  }
}

@mixin mobile-and-ipad-air {
  @media screen and (min-width: 0px) and (max-width: 800px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 960px) and (max-width: 1200px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media-vl {
  @media screen and (min-width: 1900px) {
    @content;
  }
}

/////////////////TEST MEDIA QUERIES////////////////////////////

@mixin media-extrasmall-device {
  @media screen and (min-width: 0px) and (max-width: 639px) {
    @content;
  }
}

@mixin media-small-device {
  @media screen and (min-width: 501px) {
    @content;
  }
}

@mixin media-mid-device {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin max-width-800px {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin media-large-device {
  @media screen and (min-width: 1023px) {
    @content;
  }
}

@mixin media-small-desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1500px) {
    @content;
  }
}

@mixin media-xxl {
  @media screen and (min-width: 2000px) {
    @content;
  }
}

/* ============ Card Output =============== */
.card-layout {
  position: relative;
  display: block;
  overflow: auto;
  background-color: var(--white);
  height: auto;
  padding: 1vh;
  margin: 1vh;
  border-radius: $borderRadiusSize;
  box-shadow: 0px 0px 4px 2px var(--shadow-color);
}

.neon-highlight {
  border: 1px solid rgba(60, 195, 242, 0.5019607843);
  box-shadow: 0px 0px 3px rgba(60, 195, 242, 0.5019607843);
}

/* ================ Overall input styles ======================= */
@mixin placeholder {
  &::placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin ws-input(
  $inputBgColor: var(--white),
  $inputTextColor: inherit,
  $borderColor: var(--light-grey, #03080f),
  $width: 100%
) {
  @include ws-normal-font($fontColor: var(--text-color));
  @include horizontalFlex();
  padding: 7px;
  // padding: 1vh;
  border-radius: $borderRadiusSize;
  border: none;
  outline: none;
  background: $inputBgColor;
  color: $inputTextColor;
  border: 0.5px solid $borderColor;
  width: $width;
  @include placeholder {
    font-style: italic;
    color: var(--border-color);
    font-weight: 100;
  }
}

/* ================ Overall button styles ======================= */
@mixin ws-btn(
  $btnBgColor: var(--light-blue),
  $btnTextColor: var(--white),
  $width: auto,
  $padding: 0.8vh 1.5vh,
  $flexGap: 1vh,
  $minWidth: 5vw
) {
  @include ws-new-normal-font($fontColor: var(--white));
  @include horizontalFlex($gap-size: $flexGap);
  text-align: center;
  justify-content: center;
  padding: $padding;
  border-radius: $buttonBorderRadius;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  min-width: $minWidth;
  background-color: $btnBgColor;
  color: $btnTextColor;
  width: $width;

  &:hover {
    opacity: 0.8;
  }
}

// list items mostly used in sidebar
.list-item-container {
  @include ws-normal-font();
  @include verticalFlex($justify: flex-start);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // gap: 1vh;
  // padding: 1vh;
  padding: 0.5vh;
  overflow: auto;
  height: 100%;
}

.list-item {
  @include ws-normal-font();
  @include verticalFlex($align: flex-start);
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // gap: 1vh;
  border: 1px solid var(--card-color);
  border-radius: $borderRadiusSize;
  width: 100%;
  padding: 1vh;
  transition: 300ms;
  word-wrap: break-word;
  word-break: normal;

  &:hover {
    background-color: var(--prime-blue);
    // border-color: var(--prime-blue);
  }
}

/* Hoverable tooltip  */
/* .hover-tooltip {
  text-decoration:none;
  position:relative;
}
.hover-tooltip .tooltip-container {
  display:none;
  position:fixed;
  background-color: var(--black,#03080F);
  color: var(--white,#ffffff);
  border-radius: 2px;
  padding: 4px;
  overflow:hidden;
  font-size: var(--s-font);
  z-index: 2;
} */
.tooltip-container {
  display: none;
  position: fixed;
  background-color: var(--white);
  color: var(--white, #ffffff);
  border-radius: 2px;
  padding: 4px;
  overflow: hidden;
  font-size: var(--s-font);
  z-index: 2;
}
/* .tooltip-container-hover {
  display:flex;
  flex-direction: column;
} */
@media only screen and (min-width: 1000px) {
  /* .hover-tooltip:hover .tooltip-container {
    display:block;
  } */
  .tooltip-container-hover {
    display: flex;
    flex-direction: column;
  }
}

// status
@mixin ws-status {
  @content;
}

$statuses: (
  to_be_started: var(--to-be-started),
  on_track: var(--on-track),
  completed: var(--completed),
  on_hold: var(--on-hold),
  slight_delay: var(--slight-delay),
  critical: var(--critical),
  cancelled: var(--cancelled),
);

// Other styles...
.modal-content {
  border: none;
}
.modal-dialog {
  // left: 5%;
  transform: translate(-50%, -50%);
  transition: none;
  margin-top: 20vh;
}
.modal-backdrop {
  background: rgba(17, 41, 73, 0.9);
}
.modal {
  &.show {
    .modal-dialog {
      animation: none;
      transition: none;
    }
  }
}

// @media (max-width: 800px) {
//   .modal-dialog {
//     transform: translate(-50%, -50%);
//     transition: none;
//     left: 7%;
//     margin-top: 20vh;
//   }
// }
